# Ignore node_modules
node_modules/
**/node_modules/

# Ignore pnpm lock files
pnpm-lock.yaml
**/pnpm-lock.yaml

# Ignore node_modules bin directories
**/node_modules/.bin/

# Ignore test coverage files
app/.nyc_output/
app/coverage/
packages/geometry/coverage/

# Ignore package-lock.json
package-lock.json

# Ignore build outputs
dist/
*.tsbuildinfo
